@media screen and (max-width:1000px){
    .Navigation{
        flex-direction: column ;
    }
    .Nav-left{
        flex-direction: column ;
    }
    .Content-right{
        display: none;
    }
    .article{
        flex-direction: column;

    }
    .article img
    {
        text-align:center;
    }
    .row{
        flex-direction: column;
    }
    
}